#{extends 'main.html' /}
#{set title:'Edit Profile'/}
#{set 'moreStyles'}
	<link rel="stylesheet" href="@{'/public/stylesheets/user.css'}" type="text/css" media="screen" charset="${_response_encoding}">
#{/set}

<div id="main">
	<div id="main-left">
		<h2 class="title">Edit Profile</h2>
		#{ifErrors}
   		<span class="error">
   			Oops...
   			<ul>
   			#{errors}
       		<li>${error}</li>
   			#{/errors}
   			</ul>
		</span>
		#{/ifErrors}
		<div id="edit">
		#{form @Users.update(connectedUser.id)}
			#{edit-user connectedUser:connectedUser, locations:locations /}
		#{/form}
		</div>
	</div>
</div>