#{extends 'home-view.html' /}
#{set title: Users /}

#{set 'moreStyles'}
        #{stylesheet 'user.css' /}
#{/set}

<div id="user-list">
	<h2 class="title">
		Registered users
	</h2>
	#{if flash.success}
    <p class="message success">${flash.success}</p>
	#{/if}
	
	#{list items:users, as:'user'}
	<div class="user">
		<div class="user-name">${user.fullname}</div>
		<div class="user-calendars">#{a @Calendars.index(user.id)}Calendars#{/a}</div>
		#{if ( !connectedUser.equals(user) && !connectedUser.isFavorite(user) )}
			<div class="add button">#{a @Users.addFavorite(connectedUser.id, user.id)}Favorite#{/a}</div>
		#{/if}
	</div>
	#{/list}
</div>