#{extends 'home-view.html' /}
#{set title: 'Message: '+msg.subject /}

#{set 'moreStyles'}
	#{stylesheet 'user.css' /}
#{/set}

<div id="message">
	<h2 class="title">
		${msg.subject}
	</h2>
	
	<div id="message-metadata">
		Sent on ${msg.sendDate.toString("E, M d")} at ${msg.sendDate.toString("HH:mm:ss")} by #{a @Users.show(msg.sender.id)}${msg.sender}#{/a} 	
	</div>
	<div id="actions">
		<span class="button">#{a @Users.reply(msg.id)}reply#{/a}</span>
		<span class="delete button">#{a @Users.deleteMessage(msg.id)}delete#{/a}</span>
	</div>
	<div id="content">
		${msg.content}	
	</div>
</div>