#{extends 'home-view.html' /}
#{set title: Users /}

#{set 'moreStyles'}
        #{stylesheet 'user.css' /}
#{/set}

<div id="message-box">
	<h2 class="title">
		Your message box
	</h2>
	#{if flash.success}
    <p class="message success">${flash.success}</p>
	#{/if}
	<div id="inbox">
		<h3 class="title">Inbox</h3>
		<table width="100%">
			<tr>		
				<th>Sent</th>
				<th>From</th>
				<th>Subject</th>
				<th>Actions</th>
			</tr>
			#{list items:msgBox.inbox, as:'msg'}
				<tr class="msg-short #{if !msg.read}unread#{/if}" >
					<td>${msg.sendDate.toString("dd.MM.yy hh:mm:ss")}</td>
					<td>#{a @Users.show(msg.sender.id)}${msg.sender}#{/a}</td>
					<td>#{a @Users.message(msg.id)}${msg.subject}#{/a}</td>
					<td class="delete button">#{a @Users.deleteMessage(msg.id)}Delete#{/a}</td>
				</tr>
			#{/list}
		</table>
	</div>
</div>