#{extends 'main.html' /}
#{set title:'UserProfile'/}
#{set 'moreStyles'}
	<link rel="stylesheet" href="@{'/public/stylesheets/user.css'}" type="text/css" media="screen" charset="${_response_encoding}">
#{/set}

%{ connectedUser = models.User.find("email", session.username).first() }%

<h2 class="title withAction">Profile Details
<div id="action">
	#{if connectedUser.equals(user)}
		#{a @Users.edit()}Edit#{/a}
	#{/if}
	#{else}
		#{a @Users.write(user.id)}Message#{/a}
	#{/else}
</div>
	</h2>
    <table id="user-profile">
    	<tr>
    		<td id="left">Full Name:</td>
    		<td id="right">${user.fullname}</dt>
    	</tr>
    	#{if user.nickname!=null && user.nickname.trim()!=""}
    	<tr>
    		<td id="left">Nick Name:</td>
    		<td id="right">${user.nickname}</td>
    	</tr>
    	#{/if}
    	<tr>
    		<td id="left">E-Mail:</td>
    		<td id="right">
    			<a href="mailto:${user.email}">${user.email}</a>
    		</td>
    	</tr>
    	#{if user.visiblegender}
    	<tr>
    		<td id="left">Gender:</td>
    		<td id="right">${user.gender}</td>
    	</tr>
    	#{/if}
    	#{if user.visiblebirthday}
    	<tr>
    		<td id="left">Birthday:</td>
    		<td id="right">${user.birthday.toString('dd.MM.yyyy')}</td>
    	</tr>
    	#{/if}
    	#{if user.visibleaddress && user.address != null}
    	<tr>
    		<td id="left">Address:</td>
    		<td id="right">
    			<a href="@{Locations.show(user.address.id)}">${user.address}</a>
    		</td>
    	</tr>
    	#{/if}
    	#{if user.visibletelephone && user.telephone.trim() != ""}
    	<tr>
    		<td id="left">Telephone Number:</td>
    		<td id="right">${user.telephone}</td>
    	</tr>
    	#{/if}
    	#{if user.descriptionUser!=null && user.descriptionUser.trim() != ""}
    	<tr>
    		<td id="left">
    			<div id="about">About Me:</div>
    		</td>
    		<td id="right">
    			<div id="description">${user.descriptionUser}</div>
    		</td>
    	</tr>
    	#{/if}
</table>
		