#{extends 'main.html' /}
#{set title:'UserProfile'/}
#{set 'moreStyles'}
	<link rel="stylesheet" href="@{'/public/stylesheets/location.css'}" type="text/css" media="screen" charset="${_response_encoding}">
#{/set}

<div id="main-left">
	<h2 class="title">Profile Details</h2>
    	<div id="location">
			<p>
				<ul>
   					<li><label for="name">Full Name : </label>${connectedUser.fullname}</li>
				    <li><label for="nickname">Nick Name: </label>${connectedUser.nickname}</li>
				    #{if connectedUser.visiblegender}
				    <li><label for="gender">Gender : </label>${connectedUser.gender}</li>
				    #{/if}
				    #{if connectedUser.visiblebirthday}
				    <li><label for="birthday">Birth Day : </label>${connectedUser.birthday?.toString('dd.MM.yyyy')}</li>
				    #{/if}
				    #{if connectedUser.visibleaddress}
				    <li><label for="address">Address : </label>${connectedUser.address}</li>
				    #{/if}
				    <li><label for="description">About Me: </label>${connectedUser.descriptionUser}</li>
				    #{if connectedUser.visibletelephone}
				    <li><label for="telephone">Telephone Number: </label>${connectedUser.telephone}</li>
				    #{/if}
				</ul>
			</p>
		</div>
		
		