#{extends 'home-view.html' /}
#{set title:'New Message'/}
#{set 'moreStyles'}
	<link rel="stylesheet" href="@{'/public/stylesheets/user.css'}" type="text/css" media="screen" charset="${_response_encoding}">
#{/set}
%{ connectedUser = models.User.find("email", session.username).first() }%

<h2 class="title">Write a message to ${recipient.fullname}</h2>
<div id="event-form">
#{form @Users.sendMessage(recipient, connectedUser)}
	<p>
	#{field 'subject'}
   	<label for="subject">Subject</label>
   	<input type="text" name="${field.name}" id="${field.name}" autofocus="autofocus" value="#{ifErrors}${flash.subject}#{/ifErrors}#{else}${message?.subject}#{/else}"/>
	#{/field}
	</p>
	<p>
	#{field 'content'}
   	<label for="content">Content</label>
   	<textarea name="${field.name}" id="${field.name}">#{ifErrors}${flash.content}#{/ifErrors}#{else}${message?.content}#{/else}</textarea>
	#{/field}
	</p>
	<p class="button">
		<input type="submit" value="Send" />
	</p>
	<p class="button">
		<input type="reset" value="Reset" />
	</p>
#{/form}
</div>