#{extends 'main.html' /}
#{set title:calendar.name/}

<div id="main-left">
	<h2 class="title"><span id="calendar-name">${calendar.name}</span></h2>
	<div id="calendar-navigation>
			<span class="previous month">
				#{a @Calendars.show(calendar.id, month.minusMonths(1))}
				${month.minusMonths(1).monthOfYear().getAsText()}
				#{/a}
			</span>
			<span class="current month">
				${month.monthOfYear().getAsText()}, ${month.getYear()}
			</span>
			<span class="next month">
				#{a @Calendars.show(calendar.id, month.plusMonths(1))}
				${month.plusMonths(1).monthOfYear().getAsText()}
				#{/a}
			</span>
	</div>
	#{calendar calendar:calendar, events:events, isOwner:isOwner /}
</div>

<div id="main-right">
	<h2 class="title">Options</h2>
	<div class="navigation">
	<ul>
		<li><a class="navigation" href="@{Calendars.index}">Go back</a></li>
		#{if isOwner}
		<li><a class="navigation" href="@{Events.add(calendar.id)}">Add an event</a></li>
		#{/if}
	</ul>
	</div>
</div>