#{extends 'main.html' /}
#{set title:calendar.name/}
#{set 'moreStyles'}
	<link rel="stylesheet" href="@{'/public/stylesheets/calendar.css'}" type="text/css" media="screen" charset="${_response_encoding}">
	<link rel="stylesheet" href="@{'/public/stylesheets/event.css'}" type="text/css" media="screen" charset="${_response_encoding}">
#{/set}

#{set 'options'}
	#{secure.check calendar}
		<li><a class="navigation" href="@{Events.add(calendar.id, dt.getYear(), dt.getMonthOfYear(), dt.getDayOfMonth())}">Add an event</a></li>
	#{/secure.check}
	<li><a class="navigation" href="@{Calendars.showCurrentMonth(calendar.id,false)}">Today</a></li>
	<li><a class="navigation" href="@{Calendars.showCurrentMonth(calendar.id,true)}">Print</a></li>
	<br>
#{/set}

<h2 class="title"><span id="calendar-name">${calendar.name}</span></h2>
#{calendar calendar:calendar, dt:dt /}
	
<div id="events">
	<div id="events">
		#{if birthdays.size() > 0}
			<ul>
				<hr />
				#{list items:birthdays, as:'birthday'}
					#{birthday calendar:calendar, birthday:birthday, connectedUser:connectedUser, dt:dt /}
					<hr />
				#{/list}
			</ul>
		#{/if}

		#{if events.size() > 0}
			<ul>
				#{if birthdays.size() == 0}<hr />#{/if}
				#{list items:events, as:'event'}
					#{event event:event /}
					<hr />
				#{/list}
			</ul>
		#{/if}
		#{if events.size() == 0 && birthdays.size() == 0}
			<div class="empty">
				There are no events for the selected date.
		   </div>
		#{/if}
	</div>
</div>

#{set 'moreScripts'}
	<script src="@{'/public/javascripts/event.js'}"></script>
#{/set}

<script type="text/javascript" >
	setupCalendar();
</script>
