#{extends 'main.html' /}
#{set title:'advancedSearch-form' /}

<p>
#{field 'title'}
   	<label for="title">Title</label>
    <input type="text" name="${field.name}" id="title" autofocus="autofocus" value="#{ifErrors}${flash.name}#{/ifErrors}"/>
#{/field}
</p>

<p>
#{field 'description'}
   	<label for="description">Description</label>
    <input type="text" name="${field.name}" id="description" value="#{ifErrors}${flash.description}#{/ifErrors}"/>
#{/field}
</p>

<p>
#{field 'time'}
   	<label for="time">Time</label>
    <input type="text" name="${field.name}" id="time" value="#{ifErrors}${flash.time}#{/ifErrors}"/>
#{/field}
</p>

<p>
#{field 'date'}
   	<label for="date">Date</label>
    <input type="text" name="${field.name}" id="date" value="#{ifErrors}${flash.date}#{/ifErrors}"/>
#{/field}
</p>

<p>
#{field 'location'}
   	<label for="location">Location</label>
    <select name="${field.name}" id="location" value="#{ifErrors}${flash.location}#{/ifErrors}"/>
    	<option>Don't care</option>
    	#{list items:_locations, as:'location'}
				<option>${location.toString()}</option>
		#{/list}
#{/field}
</p>

<p class="button">
	<input type="submit" value="Search" />
</p>
<p class="button">
	<input type="reset" value="Reset" />
</p>