<div id="calendar-list">
	<h2 class="title">
	#{if _user}
		#{if _user.email.equals(session.username)}Your Calendars#{/if}
		#{else}${_user.fullname}'s Calendars#{/else}
	#{/if}
	#{else}All calendars#{/else}
	</h2>
	#{if _calendars.size() > 0}
		#{if _user}
			<ul>
			#{list items:_calendars, as:'calendar'}
				<li>
					<h3 class="calendar-name">#{a @Calendars.show(calendar.id, null)}${calendar.name}#{/a}</h3>
					<div class="calendar-metadata">
					<span class="calendar-events">
					has ${calendar.visibleEvents(_user) ?: 'no'}  
					event${calendar.visibleEvents(_user).pluralize()}
					</span>
					#{if _user.email.equals(session.username)}
					<span class="delete-button"> - #{a @Calendars.delete(calendar.id)}delete#{/a}</span>
					#{/if}
					</div>
				</li>
			#{/list}
			</ul>
		#{/if}
		#{else}
		<table>
			<tr>
				<th class="calendar-name">Calendar name</th>
				<th class="calendar-owner">Owner</th>
				<th class="calendar-events">Events</th>
			</tr>
		#{list items:_calendars, as:'calendar'}
			<tr>
				<td class="calendar-name">#{a @Calendars.show(calendar.id, null)}${calendar.name}#{/a}</td>
				<td class="calendar-owner">${calendar.owner.fullname}</td>
				<td class="calendar-events">${calendar.events?.size()}</td>
			</tr>
		#{/list}
		</table>
		#{/else}
	#{/if}
	
	#{else}
	    <div class="empty">
	        There aren't any calendars to display.
	    </div>
	#{/else}
</div>