
<h2 class="title"><span id="event-title">${_event.name}</span></h2>
<div id="event">
	<div class="event-metadata">
		<span class="date">
			${_event.startDate.toString('dd.MM.yyyy HH:mm')} - ${_event.endDate.toString('dd.MM.yyyy HH:mm')}
		</span>
		#{if _event.isPrivate}
			<span class="private">Private Event</span>
		#{/if}
		#{if !_event.origin.equals(calendar)}
			<span class="owner">owned by #{a @Calendars.show(_event.origin.id, _event.startDate.getYear(), _event.startDate.getMonthOfYear(), _event.startDate.getDayOfMonth())}
			${_event.origin.owner.fullname}
		#{/a}</span>
		#{/if}
		#{if _event.location }
			<span class="location">${_event.location.toString()}</span>
		#{/if}
	</div>
	
	<div id="event-content">
		${_event.description}
		<div id="event-comments">
			<ul>
				<hr>
				<h3>${_event.comments.size()} comment${_event.comments.size().pluralize()}</h3>
				#{list items:_event.comments, as:'comment'}
					<div class="event-comment">
							<div class="comment-metadata">
								<span class="comment-author">by ${comment.author},</span>
   							<span class="comment-date">
   								${comment.postedAt.toString('dd.MM.yyyy HH:mm')	}
							</span>
						</div>
							<div class="comment-content">
    						${comment.content}
						</div>
					</div>
				#{/list}
			</ul>
		</div>
	</div>
</div>
