<h2 class="title"><span id="event-title">${_event.name}</span></h2>

%{ connectedUser = models.User.find("email", session.username).first() }%

<div id="event">
	#{event-metadata event:_event /}
	<div id="event-content">
		${_event.description}
		#{if flash.success}
   		<p class="success">${flash.success}</p>
		#{/if}
		<div id="event-comments">
			<ul>
				<hr>
				<h3>${_event.comments.size()} comment${_event.comments.size().pluralize()}</h3>
				#{list items:_event.comments, as:'comment'}
					<div class="event-comment">
						<div class="comment-metadata">
							<span class="comment-author">by ${comment.author},</span>
   							<span class="comment-date">
   								${comment.postedAt.toString('dd.MM.yyyy HH:mm')	}
							</span>
						</div>
							<table>
								<tr>
									<td class="comment-content">${comment.content}</td>
									<td class="deleteComment">
										#{if connectedUser.fullname.equals(comment.author)}
											<span class="delete button">#{a @Comments.delete(_event.id, comment.id)}Delete#{/a}</span>
										#{/if}
									</td>
								</tr>
							</table>
					</div>
				#{/list}
			</ul>
		</div>
	</div>
</div>