<script type="text/javascript">
var monthtext=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dec'];

function date_populate(dayfield, monthfield, yearfield){
    var today=new Date();
    var dayfield=document.getElementById(dayfield)
    var monthfield=document.getElementById(monthfield)
    var yearfield=document.getElementById(yearfield)
    for (var i=0; i<31; i++)
        dayfield.options[i]=new Option(i+1, i+1)
    dayfield.options[today.getDate()]=new Option(today.getDate(), today.getDate(), true, true) //select today's day
    for (var m=0; m<12; m++)
        monthfield.options[m]=new Option(m+1, m+1)
    monthfield.options[today.getMonth()]=new Option(today.getMonth(), today.getMonth(), true, true) //select today's month
    var thisyear=today.getFullYear()
    for (var y=0; y<100; y++){
        yearfield.options[y]=new Option(thisyear, thisyear)
        thisyear-=1
    }
    yearfield.options[0]=new Option(today.getFullYear(), today.getFullYear(), true, true) //select today's year
}
</script>
<p>
#{field 'fullname'}
   	<label for="name">Name</label>
    <input type="text" name="${field.name}" id="fullname" value="#{ifErrors}${flash.name}#{/ifErrors}"/>
#{/field}
</p>
<p>
#{field 'nickname'}
   	<label for="name">Nick Name</label>
    <input type="text" name="${field.name}" id="nickname" value="#{ifErrors}${flash.name}#{/ifErrors}"/>
#{/field}
</p>
<p class ="box">
#{field 'gender'}
<label>Gender</label>
	<input type="radio" name="${field.name}" value="Male" checked="1">Male
	<input type="radio" name="${field.name}" value="Female">Female
#{/field}
<p>
#{field 'visiblegender'}
	<input type="checkbox" name="${field.name}" id="${field.name}" #{ifErrors}#{if flash.visiblegender}checked="checked"#{/if}#{/ifErrors}#{else}#{if _connectedUser?.visiblegender}checked="checked"#{/if}#{/else}/>
	<label for="visiblegender" id="visiblegender">Visibility</label>
#{/field}
</p>
</p>
<p>

	<label for="name">BirthDay</label>
	#{field 'birthday'}
	<select name="${field.name}" id="${field.name}" onblur="edit-user.submit()"></SELECT>
	  
	#{/field}  
	#{field 'birthmonth'}
     <select name="${field.name}" id="${field.name}" onblur="edit-user.submit()"></SELECT>
     
      #{/field}
      #{field 'birthyear'}
      <select name="${field.name}" id="${field.name}" onblur="edit-user.submit()"></SELECT>
      #{/field}
	<script type="text/javascript">date_populate("birthday", "birthmonth", "birthyear");</script>
	
<p>
#{field 'visiblebirthday'}
	<input type="checkbox" name="${field.name}" id="${field.name}" #{ifErrors}#{if flash.visiblebirthday}checked="checked"#{/if}#{/ifErrors}#{else}#{if _connectedUser?.visiblebirthday}checked="checked"#{/if}#{/else}/>
	<label for="visiblebirthday" id="visiblebirthday">Visibility</label>
#{/field}
</p>
</p>
<p>
#{field 'locationId'}
	<label for="locationId">Location</label>
	<select name="${field.name}" id="${field.name}"">
		#{list items:_locations, as:'location'}
			<option value="${location.id}" #{ifErrors}#{if flash.locationId.toString() == location.id.toString()}selected="selected"#{/if}#{/ifErrors}#{else}#{if _event?.location?.id == location.id}selected="selected"#{/if}#{/else}>${location.toString()}</option>
		#{/list}
	</select>
#{/field}
<p>
#{field 'visibleaddress'}
	<input type="checkbox" name="${field.name}" id="${field.name}" #{ifErrors}#{if flash.visibleaddress}checked="checked"#{/if}#{/ifErrors}#{else}#{if _connectedUser?.visibleaddress}checked="checked"#{/if}#{/else}/>
	<label for="visibleaddress" id="visibleaddress">Visibility</label>
#{/field}
</p>
</p>
<p>
#{field 'telephone'}
   	<label for="name">Mobile Number</label>
    <input type="text" name="${field.name}" id="telephone" value="#{ifErrors}${flash.name}#{/ifErrors}"/>
#{/field}
<p>
#{field 'visibletelephone'}
	<input type="checkbox" name="${field.name}" id="${field.name}" #{ifErrors}#{if flash.visibletelephone}checked="checked"#{/if}#{/ifErrors}#{else}#{if _connectedUser?.visibletelephone}checked="checked"#{/if}#{/else}/>
	<label for="visibletelephone" id="visibletelephone">Visibility</label>
#{/field}
</p>
</p>
<p>
#{field 'descriptionUser'}
   	<label for="name">About Me </label>
    <input type="text" name="${field.name}" id="description" value="#{ifErrors}${flash.name}#{/ifErrors}"/>
#{/field}
</p>
<p class="button">
	<input type="submit" value="Save" />
</p>