<div id="evnt-location">
	<h2 class="title">
		Locations
	</h2>
	<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?sensor=false">
</script>
		
	
</div>
<style type="text/css">
  #map_canvas { height: 50% }
</style>

<script type="text/javascript">
var geocoder;
  var map;
  var i=0;
  var address[];
  #{list items:_locations, as:'location'}
	address[i++]=${location.toString()};
	#{/list}
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var myOptions = {
      zoom: 8,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  }

  function codeAddress() {
    var address = "Bern,Switzerland";
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }
</script>
</head>
<body onload="initialize()">
 <div id="map_canvas" style="width: 320px; height: 480px;"></div>
  <div>
    <input type="button" value="Display" onclick="codeAddress()">
  </div>
