<script type="text/javascript">
function checkLocationCollision() {
   var action = #{jsAction @checkLocationCollision(':startDate', ':startTime', ':endDate', ':endTime', ':locationId', ':eventId') /}
   $('#LocationCollisionResponse').load(
       action({startDate: document.getElementById('startDate').value, startTime: document.getElementById('startTime').value, endDate: document.getElementById('endDate').value, endTime: document.getElementById('endTime').value, locationId: document.getElementById('locationId').value, eventId: #{if _event}${_event.id}#{/if}#{else}-1#{/else}})
   )
}
</script>

<script type="text/javascript">
function checkEventCollision() {
   var action = #{jsAction @checkEventCollision(':startDate', ':startTime', ':endDate', ':endTime', ':calendarId', ':eventId') /}
   $('#EventCollisionResponse').load(
       action({startDate: document.getElementById('startDate').value, startTime: document.getElementById('startTime').value, endDate: document.getElementById('endDate').value, endTime: document.getElementById('endTime').value, calendarId: ${_calendar.id}, eventId: #{if _event}${_event.id}#{/if}#{else}-1#{/else}})
   )
}
</script>

<script type="text/javascript">
	$.ajaxSetup ({
   		// Disable caching of AJAX responses
    	cache: false
	});
     $(document.getElementById('LocationCollisionResponse')).ready(function() {
     	checkLocationCollision();
 	});
     $(document.getElementById('EventCollisionResponse')).ready(function() {
     	checkEventCollision();
 	});
</script>

		#{ifErrors}
   		<span class="error">
   			Oops...
   			<ul>
   			#{errors}
       		<li>${error}</li>
   			#{/errors}
   			</ul>
		</span>
		#{/ifErrors}

<div id="LocationCollisionResponse"></div>

<div id="EventCollisionResponse"></div>

<p>
#{field 'name'}
   	<label for="name">Title</label>
    <input type="text" name="${field.name}" id="${field.name}" value="#{ifErrors}${flash.name}#{/ifErrors}#{else}${_event?.name}#{/else}"/>
#{/field}
</p>
<p>
#{field 'startDate'}
    <label for"startDate">Start</label>
    <input type="text" name="${field.name}" id="${field.name}" onblur="javascript:checkLocationCollision();checkEventCollision();" value="#{ifErrors}${flash.startDate}#{/ifErrors}#{else}#{if _event}${_event?.startDate?.toString('dd.MM.yyyy')}#{/if}#{else}${String.format("%02d", _selected.getDayOfMonth())}.${String.format("%02d", _selected.getMonthOfYear())}.${_selected.getYear()}#{/else}#{/else}"/>
#{/field}
#{field 'startTime'}
	<label for"startTime" class="time">Time</label>
    <input size=5px type="text" name="${field.name}" id="${field.name}" onblur="javascript:checkLocationCollision();checkEventCollision();" value="#{ifErrors}${flash.startTime}#{/ifErrors}#{else}#{if _event}${_event?.startDate?.toString('HH:mm')}#{/if}#{else}${String.format("%02d", _selected.getHourOfDay())}:${String.format("%02d", _selected.getMinuteOfHour())}#{/else}#{/else}"/>
#{/field}
</p>
<p>
#{field 'endDate'}
	<label for"endDate">End</label>
	<input type="text" name="${field.name}" id="${field.name}" onblur="javascript:checkLocationCollision();checkEventCollision();" value="#{ifErrors}${flash.endDate}#{/ifErrors}#{else}#{if _event}${_event?.endDate?.toString('dd.MM.yyyy')}#{/if}#{else}${String.format("%02d", _selected.plusHours(1).getDayOfMonth())}.${String.format("%02d", _selected.plusHours(1).getMonthOfYear())}.${_selected.plusHours(1).getYear()}#{/else}#{/else}"/>
#{/field}
#{field 'endTime'}
	<label for"endTime" class="time">Time</label>
    <input size=5px type="text" name="${field.name}" id="${field.name}" onblur="javascript:checkLocationCollision();checkEventCollision();" value="#{ifErrors}${flash.endTime}#{/ifErrors}#{else}#{if _event}${_event?.endDate?.toString('HH:mm')}#{/if}#{else}${String.format("%02d", _selected.plusHours(1).getHourOfDay())}:${String.format("%02d", _selected.plusHours(1).getMinuteOfHour())}#{/else}#{/else}"/>
#{/field}
</p>
<p>
#{field 'isPrivate'}
	<input type="checkbox" name="${field.name}" id="${field.name}" #{ifErrors}#{if flash.isPrivate}checked="checked"#{/if}#{/ifErrors}#{else}#{if _event?.isPrivate}checked="checked"#{/if}#{/else}/>
	<label for="isPrivate" id="isPrivate">Private event</label>
#{/field}
</p>

<p>
#{field 'locationId'}
	<label for="locationId">Location</label>
	<select name="${field.name}" id="${field.name}" onchange="javascript:checkLocationCollision()">
		<option value="-1">No location</option>
		#{list items:_locations, as:'location'}
			<option value="${location.id}" #{ifErrors}#{if flash.locationId.toString() == location.id.toString()}selected="selected"#{/if}#{/ifErrors}#{else}#{if _event?.location?.id == location.id}selected="selected"#{/if}#{/else}>${location.toString()}</option>
		#{/list}
	</select>
#{/field}
</p>

<p>
#{field 'repeat'}
	<label for="repeat">Repeat</label>
	<select name="${field.name}" id="${field.name}">
		<option value="none">No repeat</option>
		<option value="daily" #{ifErrors}#{if flash.repeat.toString() == "daily"}selected="selected"#{/if}#{/ifErrors}*{else}#{if _event?.repeat?.toString() == "daily"}selected="selected"#{/if}#{/else}*>Daily</option>
		<option value="weekly" #{ifErrors}#{if flash.repeat.toString() == "weekly"}selected="selected"#{/if}#{/ifErrors}*{else}#{if _event?.repeat?.toString() == "weekly"}selected="selected"#{/if}#{/else}*>Weekly</option>
		<option value="monthly" #{ifErrors}#{if flash.repeat.toString() == "monthly"}selected="selected"#{/if}#{/ifErrors}*{else}#{if _event?.repeat?.toString() == "monthly"}selected="selected"#{/if}#{/else}*>Monthly</option>
		<option value="yearly" #{ifErrors}#{if flash.repeat.toString() == "yearly"}selected="selected"#{/if}#{/ifErrors}*{else}#{if _event?.repeat?.toString() == "yearly"}selected="selected"#{/if}#{/else}*>Yearly</option>
	</select>
#{/field}
</p>

<p class="description">
#{field 'description'}
	<label for"description">Description</label>
    <textarea name="${field.name}" id="${field.name}">#{ifErrors}${flash.description}#{/ifErrors}#{else}${_event?.description}#{/else}</textarea>
#{/field}
</p>

<p class="button">
	<input type="submit" value="Submit your event" />
</p>
<p class="button">
	<input type="reset" value="Reset" />
</p>