<div id="location-list">
	<h2 class="title">
		Locations
	</h2>
	#{if _locations.size() > 0}
		<ul>
			#{list items:_locations, as:'location'}
				<li><a href="@{Locations.show(location.id)}">${location.toString()}</a>
					<span class="location-metadata"> - used by ${location.numberOfAllEvents()} events (${location.numberOfAllEvents()-location.numberOfVisibleEvents(_connectedUser)} private)</span>
				</li>
			#{/list}
		</ul>
	#{/if}
	#{else}
		<div class="empty">
	       	There are no locations.
	   	</div>
	#{/else}
</div>