<!DOCTYPE html >
<html>
    <head>
        <title>#{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="screen" 
            href="@{'/public/stylesheets/main.css'}" />
        <link rel="shortcut icon" type="image/png" 
            href="@{'/public/images/favicon.png'}" />
    </head>
    <body>
        <div id="header">
            <div id="logo">
                calpal.
            </div>
            <ul id="tools">
                <li>
                    <a href="#">Log in</a>
                </li>
                <li>
                	<a href="#">Register</a>
                </li>
            </ul>
        </div>
        
        <div id="main">
            #{doLayout /} 
        </div>
        
        <div id="footer">
            calpal is the most powerful calendar engine built with the 
            <a href="http://www.playframework.org">Play framework</a>
            for a task in the software engineering course at <a href="http://www.unibe.ch/">University of Berne</a>.
        </div>
    </body>
</html>