<!DOCTYPE html >
<html>
    <head>
        <title>#{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="screen" 
            href="@{'/public/stylesheets/main.css'}" />
       	<link rel="stylesheet" type="text/css" media="screen"
        	href="@{'public/stylesheets/calendar-style.css'}" />
        <link rel="shortcut icon" type="image/png" 
            href="@{'/public/images/favicon.png'}" />
       	<script src="@{'/public/javascripts/jquery-1.4.2.min.js'}"></script>
    </head>
    <body>
    	<div id="wrap">
			<header>
				<hgroup>
					<div id="logo">
						<a href="@{Application.index()}">calpal.</a>
						<span id="tagline">look into your cal, pal!</span>
					</div>
        	    <div id="tools">
        	    <ol>
					#{if session.username}
						<li><span id="username">${session.username}</span></li>
        	    		<li><a href="@{Secure.logout()}">Log out</a>
					#{/if}
					#{else}
						<li><a href="@{Secure.login()}">Log in</a>
						<li>#{a @Application.register()}Register#{/a}
					#{/else}
					</ol>
        	    </div>
        	    
        	    <nav id="sitenav">
        	    <ol>
					<li>#{a @Application.index()}Home#{/a}
					<li>#{a @Calendars.index()}Calendars#{/a}
					<li>#{a @Users.index()}Users#{/a}
					<li>#{a @Locations.index()}Locations#{/a}
				</ol>
				</nav>
            	</hgroup>
        	</header>
        	
        	<div id="main">
        	    #{doLayout /} 
        	</div>
        </div>
        	
        <div id="footer">
            calpal is the most powerful calendar engine built with the 
            <a href="http://www.playframework.org">Play framework</a>
            for a task in the software engineering course at <a href="http://www.unibe.ch/">University of Berne</a>.
        </div>
    </body>
</html>