<!DOCTYPE html >
<html>
    <head>
        	<title>#{get 'title' /}</title>	
        	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        	<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}" />
        	<link rel="stylesheet" media="print" type="text/css" href="@{'/public/stylesheets/print.css'}" /> 
        	#{get 'moreStyles' /}
        	
        	<link rel="shortcut icon" type="image/png" 
            href="@{'/public/images/favicon.png'}" />
       	<script src="@{'/public/javascripts/jquery-1.7.1.js'}"></script>
    </head>
    <body>
    	<div id="wrap">
    		%{ connectedUser = models.User.find("email", session.username).first() }%
			<header>
				<hgroup>
					<div id="logo">
						<a href="@{Application.index()}">calpal.</a>
						<span id="tagline">look into your cal, pal!</span>
					</div>
        	    <div id="tools">
        	    <ol>
					#{if connectedUser}
        	    		<li><a href="@{Users.show(connectedUser.id)}">${connectedUser.email}</a>
        	    		<li><a href="@{Secure.logout()}">Log out</a>
					#{/if}
					#{else}
						<li><a href="@{Secure.login()}">Log in</a>
						<li>#{a @Application.register()}Register#{/a}
					#{/else}
					</ol>
        	    </div>
        	    
        	    <nav id="sitenav">
        	    <ol>
					<li>#{a @Application.index()}Home#{/a}
						#{if connectedUser }
						<li>#{a @Messages.messageBox()}Messages#{if connectedUser.messageBox.countUnread() > 0}<span id="unreadCount">${connectedUser.messageBox.countUnread()}</span>#{/if}#{/a}
						#{/if}
					<li>#{a @Application.index()}Calendars#{/a}
					<li>#{a @Users.index()}Users#{/a}
					<li>#{a @Locations.index()}Locations#{/a}
				</ol>
				</nav>
            	</hgroup>
        	</header>
        	
        	<div id="main">
        	    #{doLayout /} 
        	</div>
        </div>
        	
        <div id="footer">
            .calpal is the most powerful calendar engine built with the 
            <a href="http://www.playframework.org">Play framework</a>
            for a task in the software engineering course at <a href="http://www.unibe.ch/">University of Berne</a>.
        </div>
    </body>
</html>

<script>
$(document).ready(function () {  
	var el = $('#main-right');
	var elpos_original = el.offset().top - parseFloat($('#main-right').css('margin-top').replace(/auto/,0));

	$(window).scroll(function(){
    	var y=$(this).scrollTop();
   		if(y<elpos_original){el.stop().animate({'top':119});}
    	else{el.stop().animate({'top':y-elpos_original+135});}
	});
});
</script>