# Java compiled code
*.class
*.war
*.ear

# eclipse and setting files
*/eclipse
*/bin
*.launch
.settings/
.metadata
.classpath
.project

# Play framework
*/db
*/precompiled
*/tmp
*/test-result
*/test-results
*/modules
*/logs
*.log
*.ser

server.pid

# Hidden files
.*
!.gitignore

# Temporary files
*/tmp
*~
*.tmp
*.bak
.orig
._*

# OS specifc files
Thumbs.db
Desktrop.ini
.DS_Store
.directory
