#{extends 'main.html' /}
#{set title:calendar.name/}

<div id="main">
	<div id="main-left">
		<h2 class="title">Add an event to ${calendar.name}</h2>
		<div id="add-event-form">
		#{form @Application.addEventToCalendar(calendar.id)}
			#{ifErrors}
        		<p class="error">
           		All fields are required!
        		</p>
    		#{/ifErrors}
			
    		<p>
        	<label for="name">Event title: </label>
        	<input type="text" name="name" id="name">
    		</p>
	   		<p>
    		<label for"startDate">Start Date (dd.mm.yyyy hh:mm): </label>
    		<input type="text" name="startDate" id="startDate">
    		</p>
    		<p>
    		<label for"endDate">End Date (dd.mm.yyyy hh:mm): </label>
    		<input type="text" name="endDate" id="endDate">
    		</p>
    		<p>
			<input type="checkbox" name="isPrivate"/>
			<label for="isPrivate" id="isPrivate">Private event</label>
			</p>
    		<p>
    		<label for"description">Description: </label>
    		<textarea name="description" id="description"></textarea>
    		</p>
    		<p>
       		<input type="submit" value="Submit your event" />
    		</p>
		#{/form}
		</div>
	</div>
</div>