#{extends 'main.html' /}
#{set title:'Home' /}

<div id="main-left">
	#{if calendars.size() > 1}
		<h2 class="title">Your calendars</h2>
		<div class="list">
			<ul>
			#{list items:calendars, as:'calendar'}
				<div class="calendar">
					<li>
						<h3>
							<a href="@{Application.show(calendar.id)}">${calendar.name}</a>
						</h3>
						<div class="calendar-metadata">
							<span class="calendar-events">
								has ${calendar.events.size() ?: 'no'} 
								event${calendar.events.size().pluralize()}
		                  	</span>
						</div>
					</li>
				</div>
			#{/list}
			</ul>
		</div>
	#{/if}

	#{else}
	    <div class="empty">
	        You don't have any calendars to display.
	    </div>
	#{/else}
</div>

<div id="main-right">
		#{if session.username}
			<h2 class="title">Users</h2>
			<div class="list">
				<ul>
				#{list items:users, as:'user'}
					<div class="user">
						<li>
							<h3 class="user-name">
								<a href="#">${user.fullname}</a>
							</h3>
						</li>
					</div>
				#{/list}
				</ul>
			</div>
		#{/if}
			#{else}
		    <div class="empty">
		        Please <a href="@{Secure.login()}">log in</a> to see other users.
		    </div>
		#{/else}
</div>