#{extends 'main.html' /}
#{set title: 'Add Comment' /}
#{set 'moreStyles'}
	<link rel="stylesheet" href="@{'/public/stylesheets/event.css'}" type="text/css" media="screen" charset="${_response_encoding}">
#{/set}

#{set 'options'}
	<li><a class="navigation" href="@{Calendars.show(event.origin.id, event.startDate.getYear(), event.startDate.getMonthOfYear(), event.startDate.getDayOfMonth())}">Go back</a></li>
#{/set}

#{event event:event, comments:true /}
<div id="add-comment">
	<hr>
	<h3>Post a comment</h3>		
 		#{form @Comments.update(event.id)}
 		<p>
 		    <label for="content">Message: </label>
 		    <textarea name="content" id="content" maxlength="360" placeholder="Remember, be nice!" autofocus="autofocus"}>${flash.content}</textarea>
 		</p>
 		<p>
 		  	<input type="submit" value="Submit your comment" />
 		</p>
		#{/form}
</div>

#{set 'moreScripts'}
	<script src="@{'/public/javascripts/event.js'}"></script>
#{/set}

<script type="text/javascript" >
	setupCalendar(true);
</script>