#{extends 'main.html' /}
#{set title:'Locations'/}
#{set 'moreStyles'}
	<link rel="stylesheet" href="@{'/public/stylesheets/location.css'}" type="text/css" media="screen" charset="${_response_encoding}">
#{/set}

#{set 'options'}
	<li><a class="navigation" href="@{Locations.add()}">Add a location</a></li>
	<li><a class="navigation" href="@{Locations.edit(location.id)}">Edit this location</a></li>
	<li><a href="@{Locations.delete(location.id)}">Delete this location</a></li>
#{/set}	

<h2 class="title">Infos about this Location</h2>
 <div id="location">
	<p>
		<ul>
			<li>${location.street} ${location.num}</li>
			<li>${location.pincode} ${location.city}</li>
			<li>${location.country} </li>
		</ul>
	</p>
</div>
<div id="map_canvas">Loading...</div>

<h3>Upcoming events</h3>
<p>
	${numberOfEvents} upcoming events are using this location (${numberOfEvents-events.size()} private):
	<ul>
	#{list items:events, as:'event'}
		<li><a href="@{Calendars.show(event.origin.id, event.startDate.getYear(), event.startDate.getMonthOfYear(), event.startDate.getDayOfMonth())}">${event.name}</a></li>
	#{/list}
	</ul>
</p>

<script type="text/javascript">
     $(document.getElementById('map_canvas')).ready(function() {
     	initialize();
     	codeAddress('${location.toString()}');
 	});
</script>

<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?sensor=false">
</script>

<script type="text/javascript">
var geocoder;
  var map;
  var i=0;
  var lat;
  var lang;
 
  function initialize() {
    if(typeof google != "undefined") {
      geocoder = new google.maps.Geocoder();
      var latlng = new google.maps.LatLng(-34.397, 150.644);
      var myOptions = {
        zoom: 13,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    } else {
      document.getElementById("map_canvas").innerHTML = "Could not load google maps.";
    }
  }
  function cal(address) {
	    geocoder.geocode( { 'address': address}, function(results, status) {
	      if (status == google.maps.GeocoderStatus.OK) {
	        map.setCenter(results[0].geometry.location,18);
	        var marker = new google.maps.Marker({
	            map: map,
	            position: results[0].geometry.location
	        });
	      } else {
	        alert("Geocode was not successful for the following reason: " + status);
	      }
	    });
	  }
  function codeAddress(address) {
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location,18);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }
</script>