/** List calendars **/

#calendar-list ul {
	list-style: none;
	padding: 0px;
}

#calendar-list h3 {
	display: inline;
}

.calendar-metadata {
	font-size: 0.8em;
	margin-bottom: 1em;
	display: inline;
}

/** Calendar table **/

#calendar-list table {
	width: 100%;
	table-layout: fixed;
}

table .calendar-name {
	width: 60%;
	text-align: left;	
}

table .calendar-owner {
	width: 30%;
	text-align: left;
}

table .calendar-events {
	width: 9%;
	text-align: right;
}

table a:hover {
	background-color: none;
}

/** Calendar navigation **/
#calendar-navigation {
	font-weight: bold;
	color: #fff;
}

#calendar-navigation a:hover {
	background-color: #fff;
	color: #A32947;
}

#calendar-navigation span {
	display: inline-block;
	width: 32.5%;
}

#previous-month {
	text-align: left;
}

#current-month {
	text-align: center;
}

#next-month {
	text-align: right;
}
	
/** List events **/

#event-list ul {
	list-style: none;
	padding: 0px;
}

#event-list hr {
	border: 0;
	margin: 10px 10px;
	color: #000;
	align: center;
	background-color: #000;
	height: 2px;
	style: dashed;
}

.event-header {
	font-weight: bold;
	font-size: 1.2em;
	display: inline;
}

.event-metadata {
	font-size: 0.8em;
	display: inline;
}

.event-content {
	margin-top: 10px;
}

/** Event form **/

form {
   padding: 10px;
   background: #A32947;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
}

span.error {
	display: inline-block;
   background: #c00;
   color: #fff;
   padding: 3px 5px;
   margin: 2px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   -webkit-box-shadow: 0 2px 0 #800;
}

form p {
    margin: 5px 0 0 0;
    clear: left;
}

form textarea {
    width: 400px;
    height: 150px;
}

form input, form textarea {
    font-size: 14px;
}

form label {
	display: inline-block;
	width: 70px;
   font-weight: bold;
   font-size: 90%;
   color: #aaa;
   margin-bottom: 3px;
}

.description label {
	display: block;
}

form #isPrivate {
	display: inline;
}

form p.button {
	display: inline-block;
}

#captcha{
    display: block;
    height: 50px;  
}

.success {
    background: #67AD10;
    color: #fff;
    padding: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #4E840B; 
}