/** List calendars **/

#calendar-list ul {
	list-style: none;
	padding: 0px;
}

#calendar-list h3 {
	display: inline;
}

.calendar-metadata {
	font-size: 0.8em;
	margin-bottom: 1em;
	display: inline;
}

/** Calendar table **/

#calendar-list table {
	width: 100%;
	table-layout: fixed;
}

table .calendar-name {
	width: 60%;
	text-align: left;	
}

table .calendar-owner {
	width: 30%;
	text-align: left;
}

table .calendar-events {
	width: 9%;
	text-align: right;
}

table a:hover {
	background-color: none;
}

/** Calendar navigation **/
#calendar-navigation {
	font-weight: bold;
	color: #fff;
}

#calendar-navigation span {
	display: inline-block;
	width: 32.5%;
}

#previous-month {
	text-align: left;
}

#current-month {
	text-align: center;
}

#next-month {
	text-align: right;
}

#calendar-navigation a {
	display: block;
	padding: 5px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

#calendar-navigation a:hover {
	background-color: #333;
	color: #fff;
}

/** Calendar per month **/

#month {
	width: 100%;
	padding: 5px 15px 5px 15px;
	text-align: center;
	table-layout: fixed;
}

#month td {
	border: solid 1px #000;
	padding: 1px;
}

#month td.events {
	font-weight: bold;
}

#month td.today a {
	color: red;
}

#month td.selected {
	background-color: #333;
}

#month td a {
	display: block;
}

table#month th.title {
	border: solid 1px #000;
	background-color: #819edb;
	font-weight: bold;
}

#month td.events a {
	color: #0051FF;
}

#month td.selected a {
	color: #fff;
}