/** List calendars **/

#calendar-list ul {
	list-style: none;
	padding: 0px;
}

#calendar-list h3 {
	display: inline;
}

.calendar-metadata {
	font-size: 0.8em;
	margin-bottom: 1em;
	display: inline;
}

/** Calendar table **/

#calendar-list table {
	width: 100%;
	table-layout: fixed;
}

table .calendar-name {
	width: 60%;
	text-align: left;	
}

table .calendar-owner {
	width: 30%;
	text-align: left;
}

table .calendar-events {
	width: 9%;
	text-align: right;
}

table a:hover {
	background-color: none;
}

/** Calendar navigation **/
#calendar-navigation {
	font-weight: bold;
	color: #fff;
}

#calendar-navigation span {
	display: inline-block;
	width: 32.5%;
}

#previous-month {
	text-align: left;
}

#current-month {
	text-align: center;
}

#next-month {
	text-align: right;
}

#calendar-navigation a {
	display: block;
	padding: 5px;
	-webkit-border-radius: 6px;
   -moz-border-radius: 6px;
}

#calendar-navigation a:hover {
	background-color: #333;
	color: #fff;
}

/** Calendar per month **/
#calendar-month ul {
	list-style: none;
	padding: 5px 15px 5px 15px;
}

#calendar-month ul li {
	display: inline-block;
	width: 28px;
	text-align: center;
}

#calendar-month ul li.events {
	font-weight: bold;
	padding: 1px;
}

#calendar-month ul li.selected {
	background-color: #333;
	-webkit-border-radius: 10px;
   -moz-border-radius: 10px;
}

#calendar-month ul li.events a {
	color: #0051FF;
}

#calendar-month ul li.selected a {
	color: #fff;
}
	
/** Event header **/

.event-header {
	position: relative;
}

.event-title {
	font-weight: bold;
	font-size: 1.2em;
	display: inline;
}

.event-metadata {
	font-size: 0.8em;
	font-weight: bold;
}

.private {
	margin-left: 10px;
}

/** Event menu **/

.event-menu {
	position: absolute;
	right: 0;
	top: 0;
	background-color: #fff;
}

.event-menu:hover {
	background-color: #333;
	color: #fff;
}

.event-menu ol {
	list-style: none;
	padding: 0;
}

.event-menu .actions {
	display: block;
	padding: 5px;	
	width: 55px;
}

.event-menu li ol {
	display: none;
	position: absolute;
}

.event-menu:hover li ol {
	display: block;
	background-color: #fff;
	color: #333;
}

.event-menu li li:hover {
	background-color: #333;
	color: #fff;
}

#main .event-menu li a {
	display: block;
	background-color: #fff;
	color: #333;
	padding: 5px;
	width: 55px;
}

#main .event-menu li a:hover {
	background-color: #333;
	color: #fff;
}

/** Event content **/

#event-list ul {
	list-style: none;
	padding: 0px;
}

#event-list hr {
	border: 0;
	margin: 0px 10px 10px 0px;
	color: #0051FF;
	background-color: #0051FF;
	height: 1px;
	width: 100%;
}

.event-content {
	margin-top: 10px;
}

/** Event form **/

form {
   padding: 10px;
}

span.error {
	display: inline-block;
   background: #c00;
   color: #fff;
   padding: 3px 5px;
   margin: 2px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   -webkit-box-shadow: 0 2px 0 #800;
}

form p {
    margin: 5px 0 0 0;
    clear: left;
}

form textarea {
    width: 400px;
    height: 150px;
}

form input, form textarea {
    font-size: 14px;
}

form label {
	display: inline-block;
	width: 50px;
   font-weight: bold;
   font-size: 90%;
   margin-bottom: 3px;
}

.description label {
	display: block;
}

form #isPrivate {
	display: inline;
}

form p.button {
	display: inline-block;
}

#captcha{
    display: block;
    height: 50px;  
}

.success {
    background: #67AD10;
    color: #fff;
    padding: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #4E840B; 
}