/** Event header **/

.event-header {
	position: relative;
}

.event-title {
	font-weight: bold;
	font-size: 1.2em;
	display: inline-block;
	margin-bottom: 10px;
}

.event-header .private {
	display: inline-block;
	font-size: .8em;
	padding: .3em;
	margin-bottom: 5px;
	background-color: #E4EAFF;
	border-radius: 16px;
}

.event-metadata {
	font-size: .85em;
	font-weight: bold;
}

.participation-details {
	padding-left: 10px;
}

.event-metadata .participants {
	vertical-align: top;
	display: inline-block;
	margin-right: 20px;
}

.event-metadata .invitations {
	vertical-align: top;
	display: inline-block;
	margin-left: 20px;
}

/** Event menu **/

.event-menu {
	position: absolute;
	right: 0;
	top: 0;
}

.event-menu .actions {
	display: block;
	padding: 5px;	
	width: 75px;
	background-color: #fff;
}

.event-menu .actions:hover {
	background-color: #333;
	color: #fff;
}

.event .actions .button {
	float: right;
}

.event-menu ol {
	list-style: none;
	padding: 0;
}

#main .event-menu a {
	display: block;
	background-color: #fff;
	color: #333;
	padding: 5px;
	width: 75px;
}

#main .event-menu ul a {
	width: 170px;	
}

#main .event-menu li a:hover {
	background-color: #333;
	color: #fff;
}

.event-menu li ol {
	display: none;
	position: absolute;
}

.event-menu li:hover ol {
	display: block;
	z-index: 100;
}

.event-menu li ol li ul {
	display: none;
	position: absolute;
}

.event-menu li.more span {
	display: inline-block;
}

.event-menu li.more:hover span {	
	float: right;
}

.event-menu li.more:hover ul {
	display: inline-block;
	width: 170px;
	left: -180px;
}

/** Event content **/

.event {
	margin-bottom: 10px;
}

#events ul {
	list-style: none;
	padding: 0px;
}

#add-comment hr {
	border: 0;
	margin: 0px 10px 10px 0px;
	color: #0051FF;
	background-color: #0051FF;
	height: 1px;
	width: 100%;
}

.event-content {
	margin-top: 10px;
	margin-bottom: 20px;
}

.show-comments {
	display: inline-block;
	float: right;
	padding: 5px;
	background-color: #fff;
	color: #333;
}

a:hover.show-comments {
	background-color: #333;
	color: #fff;
}

.comment-metadata {
	display: block;
	font-size: 55%;
	display: block;
	float: left;
	width: 25%;
	margin-right: 5px;
	text-align: right;
}

.comment-author {
	font-size: 150%;
	font-weight: bold;
	display: block;
}

.comment table {
	width: 75%;
}

.comment-content {
	position: relative;
	background: #E4EAFF;
	text-align: left;
	font-size: .9em;
	padding: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.delete-comment {
	width: 50px;
}

/** Event form **/

.author {
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
}

.author a:hover{
	background-color: #333;
	color: #fff;
}

#event-form label {
	width: 80px;
}

#event-form label.time {
	width: 45px;
	margin-left: 15px;
}

#event-form #startTime, #event-form #endTime {
	width: 40px;
}

.description label {
	display: block;
}

#event-form #private {
	display: inline;
}

label.favorite-check {
	display: inline;
}

.options {
	margin: 5px 0px 5px 0px;
	background-color: #E4EAFF;
	border-radius: 16px;
	padding: 10px;
}

.hint {
	font-size: 0.8em;
}

/** Comment-Form **/

#add-comment form textarea {
	width: 75%;
 	height: 150px;
	font-size: 100%;
	margin-bottom: 10px;
	padding: 10px;
	resize: none;
}

#add-comment form label {
	width: 50%;
	display: block;
	font-weight: bold;
	color: #333;
}