/** Main layout **/

html, body {
	height: 100%;
	background-image: url(../images/background.png);
	background-repeat: repeat-x;
	background-color: #EBEBFF;
	font-family: Helvetica, Arial, Sans !important;
}

body {
	width: 920px;
	padding: 0 30px;
	margin: auto;
}

/** Wrapper **/

#wrap {
	min-height: 100%
}

/** Application header **/	

header {
	padding-bottom: 15px;
}

hgroup {
	position: relative;
}

#logo a {
	height: 50px;
	margin-left: 20px;
	margin-bottom: 20px;
	color: #fff;
	font-size: 48px;
	font-weight: bold;
	letter-spacing: -4px;
	text-shadow: 1px 2px 2px #000;
	text-decoration: none;
}

#tagline {
	margin-left: 5px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}

#tools {
	color: #fff;
	list-style: none;
	font-weight: bold;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: -10px;
}

#tools ol {
	list-style: none;
}

#tools #username {
	color: #333;
	padding: 2px 2px 2px 10px;
}

#tools a {
	display: block;
	color: #333;
	text-decoration: none;
	padding: 2px 2px 2px 10px;
	border-radius: 16px;
}

#tools a:hover {
	background-color: #333;
	color: #fff;
}

/** Navigation **/

header nav {
	width: 100%;
	height: 47px;
	background-color: #93B4FA;
	border-radius: 16px;
}

header nav ol {
	list-style: none;
	margin: 0;
	padding: .3em;
}

header nav li {
	float: left;
	margin-right: 5px;	
}

header nav li a {
	color: #333;
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding: .5em;
	border-radius: 16px;
}

header nav li a:hover {
	background-color: #333;
	color: #fff;
}

/** Message **/

.error {
	background-color: #c00;
	display: inline-block;
	color: #fff;
	padding: 10px;
	border-radius: 16px;
}

.warning {
	background-color: #ff8000;
	padding: 10px;
	border-radius: 16px;
}

.success {
	background-color: #67AD10;
	color: #fff;
	padding: 10px;
	border-radius: 16px;
}
}

form p {
	margin: 5px 0 0 0;
	clear: left;
}

/** Main content **/

#main {
	overflow: auto;
	padding-bottom: 32px;
	display: inline-block;
	width: 100%;
	color: #333;
}

#main a {
	color: #fff;
	text-decoration: none;
}

.title {
	margin: 0px;
}

#main-left {
	float: left;
	width: 560px;
	background: #93B4FA;
	padding: 20px;
	margin-right: 10px;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
}

#main-left hr {
	border: 0;
	margin: 0px 10px 10px 0px;
	color: #0051FF;
	background-color: #0051FF;
	height: 1px;
	width: 100%;
}

#main-right {
	position: fixed;
	float: left;
	width: 260px;
	background: #93B4FA;
	padding: 20px;
	margin-left: 620px;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
}

/** Right navigation **/

.navigation ul {
	list-style: none;
	padding: 0px;
}

.navigation ul a {
	font-weight: bold;
}

/** Form **/

form {
	padding: 10px;
}

form textarea {
	width: 400px;
	height: 150px;
}

form input, form textarea {
	font-size: 14px;
}

form label {
	display: inline-block;
	font-weight: bold;
	font-size: 90%;
	margin-bottom: 3px;
	width: 150px;
}

form p.button {
	display: inline-block;
}

/** Login **/

#login {
	background: #93B4FA;
	margin: 0px 250px 0px 250px;
	padding: 5px;
	border-radius: 16px;
}

/** Register form **/

#register {
	background-color: #93B4FA;
	border-radius: 16px;
	width: 600px;
	margin: auto;
	padding: 10px;
}

#register .title {
	text-align: center;
}

#register .captcha {
	display: block;	
	width: auto;
}

#register input#email, #register input#fullname, #register input#password {
	width: 200px;
}

#register input#code {
	width: 150px;
}

/** Some basic buttons **/

#main .button a {
	display: inline-block;
	padding: 0px 4px 0px 4px;
	font-size: 12px;
	font-variant: small-caps;
	background: #333;
	border-radius: 16px;
}

#main .button a:hover {
	background: #fff;
	color: #333;
}

/** Footer **/

#footer {
	margin-top: -32px;
	height: 30px;
	border-top: 2px solid #0051FF;
	font-size: 70%;
	padding-right: 30px;
	text-align: center;
	color: #333;
	clear: both;
}

#footer a {
	color: #333;
	font-weight: bold;
}

/** Opera Fix **/

body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}