/** Main layout **/

html, body {
	background: #A32947 !important;
	font-family: Helvetica, Arial, Sans !important;
}

body {
	width: 920px;
	padding: 0 30px;
	margin: auto;
}

/** Application header **/

header {
    padding: 10px 0;
    position: relative;
}

#logo a {
    height: 49px;
    margin-left: 20px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -4px;
    text-shadow: 1px 2px 2px #000;
    text-decoration: none;
}

#tagline {
	margin-left: 5px;
	color: #fff;
	font-size: 16px;
}

#tools {
	color: #fff;
	list-style: none;
	font-weight: bold;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0px;
	top: 5px;
}

#tools ol {
	list-style: none;
}

#tools a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 2px;
	padding-right: 20px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
}

#tools a:hover {
	background-color: #fff;
	color: #A32947;
}

/** Navigation **/

header nav {
	width: 100%;
	height: 47px;
	background-color: #C47078;	
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
}

header nav ol {
	list-style: none;
	margin: 0;
	padding: .3em;
}

header nav li {
	float: left;
	margin-right: 5px;	
}

header nav li a {
	color: #333;
	text-decoration: none;
	display: block;
	padding: 0.5em;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
}

header nav li a:hover {
	background-color: #333;
	color: #fff;
	text-decoration: none;
}

header nav li ol {
	display: none;
	position: absolute;
	padding: 0;
}

header nav li:hover ol {
	display: block;
}

header nav li li {
	float: none;
}

/** Main content **/

#main {
	color: #333;
	float: left;
	width: 920px;
	margin-bottom: 20px;
}

#main a {
	color: #FFF;
	text-decoration: none;
}

.title {
	margin: 0px;
}

#main-left {
	float: left;
	width: 560px;
	background: #C47078;
	-webkit-border-radius: 16px;
   -moz-border-radius: 16px;
   padding: 20px;
   margin-right: 10px;
}

#main-right {
	float: left;
	width: 260px;
	background: #C47078;
   -webkit-border-radius: 16px;
   -moz-border-radius: 16px;
   padding: 20px;
   margin-left: 10px;
}

.navigation ul {
	list-style: none;
	padding: 0px;
}

.navigation ul a {
	font-weight: bold;
}

#main-right .navigation ul a:hover {
	color: #A32947;
	background-color: #FFF;
}

/** Footer **/

#footer {
   border-top: 1px solid #FF0000;
   font-size: 70%;
	padding: 10px 30px;
   text-align: center;
   color: #FFFFFF;
   clear: left;
}

#footer a {
   color: #FFF;
   font-weight: bold;
}