/** User index**/

#user-list .user-name {
	display: inline-block;
	width: 30%;
}

#user-list .user-profile {
	display: inline-block;
	width: 20%;
}
#user-list .user-calendars {
	display: inline-block;
	width: 20%;
}

#user-list .add {
	display: inline-block;
	width: 15%;
}

#user-nav table{
	width: 100%;
	table-layout: fixed;
}

table .delete{
	width: 30%
	text-algin: left
}

table a:hover {
	background-color: none;
}

#edit label.visibility {
	width: auto;
}

#user-profile{
	margin-top: 10px;
}

#user-profile tr #left{
	vertical-align: top;
	width: 200px;
	font-weight: bold;
}

#user-profile tr #right{
	width: 300px;
	background: #E4EAFF;
	padding: 3px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

#right a{
	color: #333333;
}
#right #description{
	font-size: 90%;
}