#{extends 'main.html' /}
#{set title:calendar.name/}
#{set 'moreStyles'}
	<link rel="stylesheet" href="@{'/public/stylesheets/event.css'}" type="text/css" media="screen" charset="${_response_encoding}">
	<link rel="stylesheet" href="@{'/public/stylesheets/jquery-ui-1.8.16.custom.css'}" type="text/css" media="screen" />
#{/set}

<h2 class="title">Add an event to ${calendar.name}</h2>
<div id="event-form">
#{form @Events.addEvent(calendar.id), id:'event-form'}
	#{event-form calendar:calendar, selected:dt, locations:locations /}
#{/form}
</div>