#{extends 'main.html' /}
#{set title: 'Add Comment' /}

<body onload="window.scrollTo(0, getDocHeight())">
	<div id="main-left">
		#{comment event:event /}
		<div id="add-comment">
			<hr>
			<h3>Post a comment</h3>
			
 			#{form @Events.updateComment(event.id)}
   				<p>
    			    <label for="author">Your name: </label>
    			    <input type="text" name="author" id="author" value="${flash.author}"/>
    			    #{ifErrors}<span class="error">#{error 'comment.author' /}</span>#{/ifErrors}
    			</p>
    			<p>
    			    <label for="content">Your message: </label>
    			    <textarea name="content" id="content" placeholder="Remember, be nice!"}>${flash.content}</textarea>
    			</p>
    			<p>
    				<label for="code">Please type the code below: </label>
    				<img src="@{Events.captcha(randomID)}" />
    				<br />
    				<input type="text" name="code" id="code" size="20" />
    				#{ifErrors}<span class="error">#{error 'code' /}</span>#{/ifErrors}    				
    				<input type="hidden" name="randomID" value="${randomID}" />
				</p>
    			<p>
    		    	<input type="submit" value="Submit your comment" />
    			</p>
			#{/form}
		</div>
	</div>

	<div id="main-right">
		#{comment-nav event:event /}
	</div>
</body>

<script type="text/javascript">
	function getDocHeight() {
    	var D = document;
    	return Math.max(
        	Math.max(D.body.scrollHeight, D.documentElement.scrollHeight),
        	Math.max(D.body.offsetHeight, D.documentElement.offsetHeight),
        	Math.max(D.body.clientHeight, D.documentElement.clientHeight)
    	);
	}
</script>
<script>$(document).ready(function() { $('span:empty').remove(); });</script>